header h1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: cursive;
    font-size: 3em;
}

main{
    display: flex;
    justify-content: center;
}

main #consonant, main #vowel{
    font-size: 4em;
    padding: 0.1em;
}


.container{
    display: flex;
    justify-content: center;
}

#button-1, #button-2, #transformCase{
    font-size: 1.5em;
    border-radius: 20px;
    padding: 5px 20px;
    border-color: rgba(0, 0, 0, 0.15);
}

#button-2{
    margin-left: 0.5em;
}

#transformCase{
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 1em;
}

#animalPic{
    width: 10em;
}

#inputAnimal{
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.3);
}

.newAnimal{
    display: block;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 5px 20px;
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 5px;
    margin-bottom: 50px;
}

