header h1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: cursive;
    font-size: 3em;
}

main{
    display: flex;
    justify-content: center;
}

main #consonant, main #vowel{
    font-size: 4em;
    padding: 0.1em;
}


.container{
    display: flex;
    justify-content: center;
}

#button-1, #button-2{
    font-size: 1.5em;
}

#button-2{
    margin-left: 0.5em;
}

#transformCase{
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 1em;
    font-size: 1.5em;
    padding: 5px 50px;

}

